<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="adress.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="adress.Perspective"
            name="Perspective"
            id="Adress.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="adress.View"
            name="View"
            id="Adress.view"
            inject="true">
      </view>
      <view
            class="adress.AdressDetailsView"
            id="Adress.view2"
            name="Details View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="Adress.view"
               minimized="false"
               relationship="left"
               standalone="true"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="Adress.view2"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar1">
            <command
                  commandId="Adress.command1"
                  icon="icons/eclipse16.png"
                  label="Delete Contact"
                  style="push">
            </command>
            <command
                  commandId="cmd"
                  icon="icons/eclipse16.png"
                  label="Add New Contact"
                  style="push">
            </command>
            <command
                  commandId="Adress.command2"
                  icon="icons/eclipse16.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:Adress.view">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="adress.editor.AdressBookEditor"
            default="false"
            icon="icons/eclipse16.png"
            id="adress.book.editor"
            name="Address Book Editor">
      </editor>
      <editor
            class="adress.editor.AdressBookEditContact"
            default="false"
            id="Adress.editor1"
            name="Adress Book Contact Edit">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="adress.cmd.AdressEditorCommand"
            id="cmd"
            name="Add Contact Command">
      </command>
      <command
            defaultHandler="Remover.DeleteContact"
            id="Adress.command1"
            name="Delete Contact">
      </command>
      <command
            defaultHandler="adress.cmd.AdressEditContactCommand"
            id="Adress.editor1"
            name="Edit Contact ">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="Adress.viewContribution1"
            targetID="Adress.view">
         <action
               class="adress.actions.ViewActionDelegate1"
               enablesFor="1"
               icon="icons/del.png"
               id="Adress.action1"
               label="delete"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="adress.actions.ViewActionDelegate2"
               enablesFor="1"
               icon="icons/edit.png"
               id="Adress.action2"
               label="edit"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="adress.actions.ViewActionDelegate3"
               icon="icons/add.png"
               id="Adress.action3"
               label="create"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>

</plugin>
