<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcpbook.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcpbook.Perspective"
            name="Perspective"
            id="RCPBook.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcpbook.view.TableView"
            name="ContactsView"
            id="RCPBook.view"
            inject="true">
      </view>
      <view
            class="rcpbook.view.DetailesView"
            id="RCPBook.Detailes"
            name="DetailesView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="RCPBook.view"
               minimized="false"
               relationship="left"
               standalone="true"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="RCPBook.Detailes"
               minimized="false"
               relationship="right"
               relative="RCPBook.view">
         </view>
         <view
               id="RCPBook.Editor"
               minimized="false"
               relationship="right"
               relative="RCPBook.Detailes">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:RCPBook.view">
         <command
               commandId="rcpbook.cmd.AddNewElement"
               icon="icons/eclipse16.png"
               label="Editor"
               style="push"
               tooltip="Editor">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="rcpbook.cmd.AddNewElement"
            id="rcpbook.cmd.AddNewElement"
            name="NewElement">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rcpbook.view.EditorView"
            default="false"
            id="RCPBook.Editor"
            name="Editor">
      </editor>
   </extension>

</plugin>
