<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcpbook.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcpbook.Perspective"
            name="Perspective"
            id="RCPBook.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcpbook.view.ContactsView"
            id="RCPBook.view"
            inject="true"
            name="ContactsView">
      </view>
      <view
            allowMultiple="false"
            class="rcpbook.view.DetailesView"
            id="RCPBook.Detailes"
            name="DetailesView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="RCPBook.view"
               minimized="false"
               relationship="left"
               standalone="true"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="true"
               id="RCPBook.Detailes"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:RCPBook.view">
         <command
               commandId="rcpbook.cmd.AddNewElement"
               icon="icons/eclipse16.png"
               label="Create?"
               style="push"
               tooltip="Create New Element">
         </command>
         <command
               commandId="rcpbook.cmd.EditElement"
               label="Edit"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="rcpbook.cmd.AddNewElement"
            id="rcpbook.cmd.AddNewElement"
            name="NewElement">
      </command>
      <command
            defaultHandler="rcpbook.cmd.EditElement"
            id="rcpbook.cmd.EditElement"
            name="EditElement">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rcpbook.view.EditorView"
            default="false"
            id="RCPBook.Create"
            name="Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="contactView.actions"
            targetID="RCPBook.view">
         <action
               class="rcpbook.cmd.Delete"
               enablesFor="1"
               id="delete.contact.id"
               label="Delete"
               style="push"
               toolbarPath="additions"
               tooltip="Delete Contact">
         </action>
         <action
               class="rcpbook.cmd.Edit"
               enablesFor="1"
               id="edit.contact.id"
               label="Edit"
               style="push"
               toolbarPath="additions"
               tooltip="Edit Contact ">
         </action>
         <action
               class="rcpbook.cmd.Create"
               id="create.contact.id"
               label="Create"
               style="push"
               toolbarPath="additions"
               tooltip="Create Contact">
         </action>
      </viewContribution>
   </extension>

</plugin>
