<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcpbook.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcpbook.Perspective"
            name="Perspective"
            id="RCPBook.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcpbook.view.TableView"
            name="ContactsView"
            id="RCPBook.view"
            inject="true">
      </view>
      <view
            class="rcpbook.view.DetailesView"
            id="RCPBook.Detailes"
            name="DetailesView"
            restorable="true">
      </view>
      <view
            class="rcpbook.view.EditorView"
            id="RCPBook.Editor"
            name="EditorView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="RCPBook.view"
               minimized="false"
               relationship="left"
               standalone="true"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="RCPBook.Detailes"
               minimized="false"
               relationship="right"
               relative="RCPBook.view">
         </view>
         <view
               id="RCPBook.Editor"
               minimized="false"
               relationship="right"
               relative="RCPBook.Detailes">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
